body{
    background-image: url("images/background.png");
    margin: 0;
}

.main{
    background-color: rgba(240, 255, 255, 0.95);
    border-style: solid;
    border-width: 15px;
    border-color: lightgray;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: max(20%, 50px);
    margin-right: max(20%, 50px);
    border-radius: 30px;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
    font-size: 12pt;
    font-family: "Times New Roman";
}

.testbox{
    background-color: azure;
    margin: 10px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: lightgray;
    width: 50px;
}

.normal{
    line-height: 20pt;
}

.regular{
    line-height: 16pt;
    text-indent: 2em;
}

.exaggeration{
    font-size: 100px;
}

.options{
    position: fixed;
    top: 0;
}

.title{
    width:fit-content;
    font-size: 50px;
    margin: 10px;
    background-color: aqua;
    padding-left: 20px;
    padding-right: 20px;
}
